.inputButton{
    background-color: white;
    padding: 3px;
    border: none;
    
}
.pincode{
    border:  3px solid grey;
    width: 50%;
    display: flex;

    border-radius: 2px;


}
.deliveryOption{
    
   text-align: start;
    
}