.carousel-inner{
    width: 100%;
    height: 400px;
    
}
.carousel-item{
    width: 100%;
}
.carousel-item img{
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 25rem; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
   
}
.homeImage{
    /* background-image: url("/w3images/photographer.jpg"); */
    background-color: #cccccc;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.homeImagecontent1{
    background-image: url("https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/2022-08/colorful-shirt-hanging-rail-store.jpg");

}
.homeImagecontent2{
    background-image: url("https://imgv3.fotor.com/images/side/remove-several-product-image-backgrounds-in-Fotor-online-batch-image-background-remover-for-ecommerce.png");
}
.homeImagecontent3{
    background-image: url("https://cutout.s3.amazonaws.com/cutout-nuxt/editing/exam/2c.jpeg");
}

.categories{
    width: 100%;
    background-color: white;
    height: 600px;
    display: flex;
  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.categoriesTag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: grey;
    gap: 10px;
    width: 30%;
    justify-items: center;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size:xx-large;
    color: rgb(54, 43, 43);
}
.menTag{
    background-color: #cccccc;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    grid-row: 1/3;
    height: 27rem;
    width: 30rem;
    
    background-image: url("https://media.istockphoto.com/id/880252620/vector/seamless-pattern-fashionable-mens-wear-background.jpg?s=1024x1024&w=is&k=20&c=oW0eduhtWdVHfzd_9tebq8i9jMJacSnZy8o-3IW787c=");
    
 
    
}
.womenTag{
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/21/35/women-clothes-cartoon-fashion-girls-and-adult-vector-39052135.jpg");
    background-size: cover;
    width: 30rem;
    
}
.homelivingTag{
    background-image: url("https://media.istockphoto.com/id/123500558/photo/rolled-up-bath-towels.jpg?s=612x612&w=0&k=20&c=9hTSgJP5CM4fUlaVuludnX6SxaaJ4SKprC9omss9-ZE=");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30rem;

}